<p>Move to:</p>
<ul>
    {{#unlessEq currentPage "home"}}<li><a href="/">Home</a></li>{{/unlessEq}}
    {{#unlessEq currentPage "forms"}}<li><a href="/forms">Forms</a></li>{{/unlessEq}}
    {{#unlessEq currentPage "tables"}}<li><a href="/tables">Tables</a></li>{{/unlessEq}}
</ul>
