<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <title>Title - error</title>
    </head>
    <body>
        <div>
            {{{body}}}
        </div>
    </body>
</html>
