<h3>Forms page</h3>

{{> navigation}}

<div class="my-form" id="addMessageContainer">
    <form action="" method="post" id="addMessageForm">
        <fieldset>
            <legend>Personal data</legend>
            <label for="name"><span>Name <span class="required">*</span></span>
                <input type="text" id="name" value="" class="input-field" required />
            </label>
            <label for="email"><span>E-mail <span class="required">*</span></span>
                <input type="email" id="email" value="" class="input-field" required />
            </label>
            <label for="phone"><span>Phone</span>
                <input type="text" id="phone" value="" class="input-field" />
            </label>
        </fieldset>
        <fieldset>
            <legend>Message</legend>
            <label for="subject"><span>Subject</span>
                <select id="subject" class="select-field">
                    <option>First subject</option>
                    <option>Second subject</option>
                    <option>Third subject</option>
                </select>
            </label>
            <label for="message"><span>Message <span class="required">*</span></span>
                <textarea id="message" class="textarea-field" required onkeyup="expand_textarea(this)"></textarea>
            </label>
            <input type="submit" value="Submit form" />
        </fieldset>
    </form>
</div>

<script src="scripts/forms.js"></script>
