<h3>Tables page</h3>

<p>Move to:</p>
<ul>
    <li><a href="/">Home</a></li>
</ul>

<table>
    <colgroup>
        <col span="6">
        <col span="2" style="background-color:#9bd1db;">
    </colgroup>
    <tr>
        <td>&nbsp;</td>
        <th>Mon</th>
        <th>Tues</th>
        <th>Wed</th>
        <th>Thurs</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
    <tr>
        <th>Morning</th>
        <td>Work</td>
        <td>&nbsp;</td>
        <td>Work</td>
        <td>Work</td>
        <td>Work</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Afternoon</th>
        <td>Doctor</td>
        <td>Gym</td>
        <td>&nbsp;</td>
        <td>English</td>
        <td>Gym</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Evening</th>
        <td>&nbsp;</td>
        <td>English</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Night</th>
        <td>&nbsp;</td>
        <td>Work</td>
        <td>&nbsp;</td>
        <td>Meeting</td>
        <td>Meeting</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
