.my-form {
    max-width: 500px;
    padding: 10px 12px 10px 10px;
}

.my-form legend {
    font-weight: bold;
    font-style: italic;
    padding-bottom: 3px;
}

.my-form h4 {
    text-align: center;
    font-weight: bold;
}

.my-form label {
    display: block;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.my-form label > span {
    width: 25%;
    font-weight: bold;
    float: left;
    padding: 1%;
}

.my-form span.required {
    color: red;
}

.my-form .input-field,
.my-form .select-field,
.my-form .textarea-field {
    box-sizing: border-box;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    width: 72%;
    padding: 2%;
}

.my-form .input-field:focus,
.my-form .select-field:focus,
.my-form .textarea-field:focus {
    border: 1px solid darkblue;
}

.my-form .input-field:required:valid,
.my-form .textarea-field:required:valid {
    border: 1px solid darkgreen;
}

.my-form .input-field:required:invalid,
.my-form .textarea-field:required:invalid {
    border: 1px solid darkred;
}

.my-form .textarea-field {
    height: 48px;
    resize: none;
    overflow: hidden;
}

.my-form input[type=submit] {
    width: 100%;
    padding: 3%;
    background: darkblue;
    border: 2px solid #00005d;
    border-radius: 4px;
    color: #fff;
}

.my-form input[type=submit]:hover {
    background: #0000ba;
    color: #fff;
}
